<div class="row big-top-margin">
  <div class="col-xs-12">
    <h1 class="text-center logo">Moar Learn!</h1>
  </div>
  <div class="col-sm-6 col-sm-offset-3">
    <form action="/similar_topics" method="get">
      <input type="text" name="query" class="form-control text-center margin-top-30" placeholder="Enter a topic here!" required maxlength="50"></input>
        <button type="submit" class="btn btn-success center-block margin-top-30">Search</button>
    </form>
  </div>
</div>

<div class="help">
  <button class="btn btn-muted" data-toggle="modal" data-target="#help-modal">Help</button>
</div>

<footer>
  <h5 class="text-center">A <a class="text-success" href="http://community.topcoder.com/tco14/developer-events/win-at-tco14/#winMashathon">TopCoder Open 2014 Mashathon</a> Project By <a class="text-success" href="http://linkedin.com/in/dbradleyfl">Devon Bradley</a></h5 class="text-center">
</footer>


<!-- Help Modal -->
<div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title text-center text-success" id="myModalLabel"> Help!</h3>
      </div>
      <div class="modal-body">
        <h4 class="text-center">
          <p>"Moar Learn" is a book recommendation engine. Type in the name of a topic you know and love, then we will suggest some related topics that you might be interested in learning "moar" about. After you pick a topic, we will recommend some books on the topic, which are available on <a class="text-success" href="http://amazon.com">Amazon</a>.</p>
          <p>Enjoy discovering new things to learn about!</p>
        </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>