<div class="col-md-8 col-md-offset-2">
	<h1 class="text-center">Here are some topics similar to "<%= @query.capitalize %>" that you might be interested in.</h1>

	<% @similar_topics.each_with_index do |topic, index| %>

		<a href="/search/<%= topic.downcase %>"><h3 class="text-center text-success"><%= (index+1).to_s + ". " + topic.capitalize %></h3></a>
		<br>

	<% end %>
</div>	