a{
	color: black;
}

a:hover{
	color: green;
	text-decoration: none;
}

.logo{
	font-family: 'Rock Salt', sans-serif;
}

.margin-top-30{
	margin-top: 30px;
}

.margin-top-50{
	margin-top: 50px;
}

.big-top-margin{
	margin-top: 15%;    
}


.top-button{
	margin-left: -65px;
	margin-top: -17px;
	position: fixed;
	top: 30px;
	left: 90%;
}

footer{
	padding: 15px;
	padding-bottom: 100px;
	position: relative;
	top: 100px;
}


/*remove the blue glow*/
.btn:focus,.btn:active,.btn:hover,.btn:link{
	outline: none;
	box-shadow:none;
	border:1px solid #ccc;
}